<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="login-container">
                    <h1>Login Form</h1>
                    <form [formGroup]="loginPage" (ngSubmit)="loginUser()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Email" formControlName="userEmail">
                            <span class="text-danger" *ngIf="userValidator && userValidator.invalid && userValidator.touched">Please enter a valid email.</span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" formControlName="userPassword">
                        </div>
                        <button class="btn btn-primary">Login</button>         
                        <a routerLink="/registration" class="btn btn-success">Signup</a>       
                    </form>
                
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JavaScript (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
